.features{
    background: rgb(176,191,243);
    background: linear-gradient(119deg, rgba(176,191,243,1) 0%, rgba(137, 136, 167, 0.408) 14%, rgba(90, 90, 192, 0.4) 33%, rgba(0,212,255,1) 100%);
    padding: 3ch 10%;
    color: rgb(49, 69, 107);
    font-size: 1em;
}

.features iframe{
    width: 50vw;
    height: 30vw;
}

@media (min-width: 768px) {
    .features iframe{
        width: 100%;
        height: 30vw;
    }
}