.landing{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 4ch 0;
    margin: 0 auto;
    background: rgb(176,191,243);
    background: linear-gradient(119deg, rgba(176,191,243,1) 0%, rgba(137, 136, 167, 0.408) 14%, rgba(90, 90, 192, 0.4) 33%, rgba(0,212,255,1) 100%);
}


.defination{
    color: rgb(49, 69, 107);
    font-size: 1.5em;
    padding: 3ch 10%;
    background: rgb(176,191,243);
    background: linear-gradient(119deg, rgba(176,191,243,1) 0%, rgba(137, 136, 167, 0.408) 14%, rgba(90, 90, 192, 0.4) 33%, rgba(0,212,255,1) 100%);
}