.valuation{
  height: 500px;
  overflow-y: scroll;
  padding: 1ch 0;
  background-color: #c6d9ea;
  width: 70vw;
  margin: 1ch auto;
}

@media  screen and (max-width: 720px){
    .valuation{
        width: 100vw;
    }
}