.news_card{
    width:90%;
    margin:1ch auto;
}

.news_card > img{
    background-color: aqua;
    height:160px;
    width:100%;
}

.news_card{
    height: 350px;
    overflow: hidden;
    background-color: #bbcee2;
    border: #bbcee2 5px solid;
}

.news{
    width:90%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(243, 250, 215);
}



.legend{
    padding:1ch;
    color:#283a4d;
    font-size: 1.1em;
}